<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>

    <th:block sec:authorize="isAnonymous()">
    <form th:action="@{/login}" method="get">
        <button type="submit">Login</button>
    </form>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </th:block>

</header>
<main>
    <div th:if="${hasError}">
        <h1 style="color: red" th:text="${error}"></h1>
    </div>

    <h2>Search Events</h2>
    <form th:action="@{/events/searchevent}" method="get">
        <label for="searchText">Event Name Contains:</label>
        <input type="text" id="searchText" name="searchText"><br/><br/>

        <label for="minRating">Minimum Rating:</label>
        <input type="number" id="minRating" name="minRating" min="0" step="0.1"><br/><br/>
        <select id="location" name="locationId">
            <option value="">All Locations</option>
            <option th:each="loc : ${locations}"
                    th:value="${loc.id}"
                    th:text="${loc.name}">
            </option>
        </select>

        <select id="category" name="categoryId">
            <option value="">All Categories</option>
            <option th:each="cat : ${categories}"
                    th:value="${cat.id}"
                    th:text="${cat.name}">
            </option>
        </select>



        <input type="submit" value="Search">


    </form>


    <h2>Choose an Event:</h2>

    <div>

        <form th:method="POST" th:action="@{'/eventbooking/bookevent'}">
            <div th:each="event : ${events}">
                <!-- Radio Button to Select an Event -->
                <input type="radio" name="eventId" th:value="${event.id}" required>
                Name: <span th:text="${event.name}">Event Name</span>,
                Description: <span th:text="${event.description}">Description</span>,
                Rating: <span th:text="${event.popularityScore}">0.0</span>,
                Location: <span th:text="${event.location?.name}">No Location</span>
                Category: <span th:text="${event.getCategory().getId() != null ? event.getCategory().getName() : 'No Category' }"></span>
                <br/>
            </div>

            <!-- Single Input Field for Number of Tickets and Submit Button -->
            <h2>Choose Number of Tickets:</h2>
            <input type="number" name="numTickets" min="1" max="10" required><br/><br/>
            <input type="submit" value="Submit Booking">
        </form>

        <h2>Edit, Add or delete event</h2>
        <!-- Delete and Edit Options -->
        <div th:each="event : ${events}">
            <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
                <thead>
                <tr>
                    <th scope="col" style="border: 1px solid black; padding: 8px;">Event Name</th>
                    <th scope="col" style="border: 1px solid black; padding: 8px;">Description</th>
                    <th scope="col" style="border: 1px solid black; padding: 8px;">Rating</th>
                    <th scope="col" style="border: 1px solid black; padding: 8px;">Location</th>
                    <th scope="col" style="border: 1px solid black; padding: 8px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="border: 1px solid black; padding: 8px;"><span th:text="${event.name}">Event Name</span></td>
                    <td style="border: 1px solid black; padding: 8px;"><span th:text="${event.description}">Description</span></td>
                    <td style="border: 1px solid black; padding: 8px;"><span th:text="${event.popularityScore}">0.0</span></td>
                    <td style="border: 1px solid black; padding: 8px;"><span th:text="${event.location?.name}">No Location</span></td>
                    <td style="border: 1px solid black; padding: 8px;"><span th:text="${event.category != null ? event.category.getName() : 'No Category' }">No Category</span></td>
                    <td style="border: 1px solid black; padding: 8px;">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:method="delete" th:action="@{'/events/delete/{id}' (id=${event.id})}" style="display:inline;">
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                        </form>
                        <a th:href="@{'/events/edit-form/{id}' (id=${event.id})}"  style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s;" class="btn btn-sm btn-info edit-product">
                            <i class="fa fa-edit">Edit</i>
                        </a>
                        </th:block>
                        <form th:method="post" th:action="@{'/events/increment/{id}' (id=${event.id})}" style="display:inline;">
                            <input type="submit" class="btn btn-sm btn-danger" th:disabled="${event.hasUpvote ? 'disabled' : null}" value="Upvote">
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <br>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <div>
            <a href="/events/add-event" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s;
    ">
                Add new product
            </a>
        </div>
        </th:block>


    </div>

</main>
</body>
</html>