<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of EventBookings</title>
</head>
<body>


<h2>Search Events</h2>
<form th:method="GET" th:action="@{/eventbooking/searchbookings}">
    <label for="searchText">Event Name Contains:</label>
    <input type="text" id="searchText" name="searchText"><br/><br/>

    <label for="numTickets">Number of Tickets:</label>
    <input type="number" id="numTickets" name="numTickets" min="0" max="5"><br/><br/>

    <label for="atendeeName">Atendee Name:</label>
    <input type="text" id="atendeeName" name="atendeeName"><br/><br/>

    <input type="submit" value="Search">


</form>


<div th:each="eB : ${eventBookings}">
    Name: <span th:text="${eB.getEvent().getName()}">Event Name</span>
    Attendee Name: <span th:text="${eB.getAttendeeName()}">Description</span>,
    Number of tickets: <span th:text="${eB.getNumberOfTickets()}">0.0</span>
    <br/>

</div>

<form th:method="get" th:action="@{'/events'}">
    <input type="submit" value="Back to Events">
</form>


</body>
</html>